body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top:50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  text-align: center;
}

.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 128px;
  height: 72px;
  text-indent: 30px;
  /* background-color: #000; */
  /* border: 2px solid #fff; */
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  /* user-select: none; */
  transform: translate(-50%, -50%);
  text-align: right;
  /* text-justify:auto; */
  text-size-adjust: 25rem;
  color:darkslategray;
}